name: doc

on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: generate doc
        run: |
          pip install -r requirements.txt
          pip install -r doc/requirements.txt
          cd doc/
          make html
          make linkcheck

      - name: Deploy doc
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/_build/html

